
@media (min-width: 866px) {
  .minhasfotos {
    flex-wrap: nowrap;
  }
}


.mainFrame_sobre {
  align-items: center;
  text-align: justify;
  font-size: 18px;
  margin-left: 3rem;
  margin-right: 3rem;
}
 
.sobre_h1 {
  text-align: center;
}





@media only screen and (max-width: 400px) {

  .sobre_h1,
  .sobre_h2 {
    font-size: 14px;
  }
}

.sobre_h1,
.sobre_h2 {
  color: white;
}