.blocosN {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0,5px 0,3px 10px 20,2px;
    margin: 3rem;
    text-align: center;
};
.textos1 {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  
  .p {
    font-size: 14px;
    color: #999;
  }